/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 16, 2016, 6:53:54 PM
    Author     : Mengchuan Lin
*/
body {
    background-color: #232B2B; /* charcoal */
}

input {
    text-align: left;
}

.info {
    font-family: Garamond;
    color: #008000; /* green */
    padding-right: 10px;
}

.error {
    font-family: Garamond;
    color: #FF0000; /* red */
    padding-right: 10px;
}

.wrapper {
    text-align: center;
}

.submit {
    position: relative;
}

h1 {
    font-family: Century Gothic;
    color: #DC3D24; /* reddish orange */
    text-align: center;
}

h3 {
    font-family: Century Gothic;
    color: #DC3D24;
}

h4 {
    font-family: Candara;
    color: #DAA520; /* dark gold */
}

.menu-link {
    font-family: Candara;
    color: #DAA520; /* dark gold */
    margin-right: 10px;
}

.cmd-button-welcome {
    font-family: Century Gothic;
    font-size: large;
    font-weight: bold;
    color: black;
    margin: 10px;
}
/* image style */
.collection-banner-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

div.location .location-img {
    display: block;
    margin: 0 auto;
    
}

div.location h3 {
    text-align: center;
}

.cover-img, .banner-img, .card-img {
    display: block;
    margin: 0 auto;
}

/* table style */
.gwentCard-table {
    border-collapse: separate;
}

.gwentCard-table-header {
    font-family: Helvetica;
    color: #FFFFFF; /* white */
    background: #DC3D24;
    padding: 16px;
}

.gwentCard-table-odd-row {
    font-family: Impact;
    text-align: center;
    background: #E3AE57; /* yellowish brown */
}

.gwentCard-table-even-row {
    font-family: Impact;
    text-align: center;
    background: #E3AE57;
}
